// Color Variables
$primary-color: #A93400;
$secondary-color: #202D85;
$text-color: #4c4c4c;
$text-color-dark: #222222;
$text-color-light: #A93400;
$text-color-bright: #FF8C00;
$body-color: #fff;
$border-color: #c7c7c7;
$black: #000;
$white: #fff;
$gray: #eaeaea;

// Font Variables
$primary-font: 'Jost', sans-serif;
$secondary-font: 'Joan', serif;
$icon-font: 'themify';